body {
    height: 100vh;
    color: #1f1f1f;
    background: linear-gradient(to bottom, #bada55, #c0ffee);
  }
h1 {
    color: hotpink;
    font-family: cursive;
}
p {
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.dos {
    color: red;
    text-align: end;
    
}
.tres {
    color:blueviolet;
}